div{
    width: 100%;
    float: left;
}
h1{
    float: left;
    margin-left:  1.66%;
    padding-bottom: 20px;
    border-bottom: 2px  solid grey;
    width: 30%;

    
}
img{
    width: 30%;
    margin: 1.66%;
    float: left;
    
}
span{
    color: black;
    font-size: 1.125em;
    float: left;
    width: 100%;
}
.productlist{
    
    width: 30%;
    margin: 1.66%;
    float: left;
}
.productlistincart{
    
    width: 5%;
    margin: 1.66%;
    float: left;
}
.cartlist{
    width: 100%;
}
#test1{
    width: 100%;
}

.description{
    opacity: 0;
}
.productlist:hover .description{
    opacity: 1;
}
#keepshopping:hover{
    background-color: rgb(28, 124, 233);
}
#keepshopping:active{
    background-color: rgb(50, 212, 50);
}
